<style>
  .resource-page {
    padding: 16px;
  }

  .schedule-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .visual-container {
    width: calc(100% - 419px);
  }

  .event-content {
    min-width: 395px;
    width: 395px;
  }

  body {
    overflow: hidden;
  }

  .event-list {
    height: 85vh;
    overflow: scroll;
  }

  .event-container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .event-container {
    display: flex;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    height: 172px;
    background: #FFFFFF;
    border: 1px solid #D9D7FC;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .event-row {
    height: 20px;
    margin-top: 5px;
    display: flex;
  }

  .event-title {
    width: 120px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #7B7D7F;
  }

  .event-title img {
    margin-right: 5px;
  }

  .event-value {
    font-weight: 500;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #232729;
  }
</style>
<div class="resource-page">
<!--
  <app-header></app-header>
-->
  <div class="resource-header-navigation">
    <div class="">
      <a [routerLink]="['/resources']">Resources ></a>
      <a>{{resource?.vendor}} {{resource?.model}} </a>
    </div>
  </div>


  <mat-tab-group animationDuration="0ms">

    <mat-tab label="Driving Schedule">
      <div class="schedule-container">
        <div class="visual-container">
          <google-map height="660px"
                      width="100%"
                      [center]="center"
                      [zoom]="zoom">
            <map-marker #marker="mapMarker"
                        *ngFor="let markerPosition of markerPositions"
                        [position]="markerPosition"
                        [options]="markerOptions"
                        (mapClick)="openInfoWindow(marker)"></map-marker>
            <map-info-window>Info Window content</map-info-window>
          </google-map>

        </div>
        <div class="event-content">
          <div class="event-container-header">
            <div class="title-font">LOCATIONS</div>
            <button mat-raised-button color="primary" class="create-request-button" (click)="openRequestModal()">Request
              schedule
            </button>
          </div>
          <div class="event-list">
            <div class="event-container" *ngFor="let eventInterval of intervals">
              <div class="event-title-container">
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Clock.png" height="16" width="16"/> Start time:
                  </div>
                  <div class="event-value">{{eventInterval.time_start| date:'h:mm a'}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Clock.png" height="16" width="16"/> Duration:
                  </div>
                  <div class="event-value">{{eventInterval.duration / 60 | number }} m</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Bulb.png" height="16" width="16"/> Policy:
                  </div>
                  <div class="event-value">{{eventInterval.duration}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/On.png" height="16" width="16"/> Energy needed:
                  </div>
                  <div class="event-value">{{eventInterval.energy}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Compass.png" height="16" width="16"/> Location:
                  </div>
                  <div class="event-value">{{eventInterval.location}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Pin.png" height="16" width="16"/> Address:
                  </div>
                  <div class="event-value">{{eventInterval.location}}</div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>

    </mat-tab>
    <mat-tab label="Charging Progress">
      <div class="schedule-container">
        <div class="visual-container">
          <app-schedule></app-schedule>
        </div>
        <div class="event-content">
          <div class="event-container-header">
            <div class="title-font">INTERVALS</div>
            <button mat-raised-button color="primary" class="create-request-button" (click)="openRequestModal()">Request
              schedule
            </button>
          </div>
          <div class="event-list">
            <div class="event-container" *ngFor="let eventInterval of intervals">
              <div class="event-title-container">
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Clock.png" height="16" width="16"/> Start time:
                  </div>
                  <div class="event-value">{{eventInterval.time_start| date:'h:mm a'}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Clock.png" height="16" width="16"/> Duration:
                  </div>
                  <div class="event-value">{{eventInterval.duration / 60 | number }} m</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Bulb.png" height="16" width="16"/> Policy:
                  </div>
                  <div class="event-value">{{eventInterval.duration}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/On.png" height="16" width="16"/> Energy needed:
                  </div>
                  <div class="event-value">{{eventInterval.energy}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Compass.png" height="16" width="16"/> Location:
                  </div>
                  <div class="event-value">{{eventInterval.location}}</div>
                </div>
                <div class="event-row">
                  <div class="event-title">
                    <img src="../../../../assets/imgs/Pin.png" height="16" width="16"/> Address:
                  </div>
                  <div class="event-value">{{eventInterval.location}}</div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>


