@import "../../../scss/constants.scss";

mat-tab-group {
    width: 100%;
  }

  .resource-page {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .resource-header-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .schedule-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 17px;
  }

  .visual-container {
    border: 1px #C4C4C4 solid;
    width: calc(100% - 419px);
    border-radius: $radius;
    overflow: hidden;
    height: 660px;
  }

  .event-content {
    min-width: 395px;
    width: 395px;
  }

  body {
    overflow: hidden;
  }

  .event-list {
    height: 85vh;
    overflow: scroll;
  }

  .event-container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .event-container {
    display: flex;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    height: 172px;
    background: $white;
    border: 1px solid $blue-20;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .event-row {
    height: 20px;
    display: flex;
  }
  .event-row:not(:first-child) {
    margin-top: 4px;
  }

  .event-title {
    width: 120px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #7B7D7F;
  }

  .event-title img {
    margin-right: 5px;
  }
  .maps-wrapper {
    height: calc(100% - 56px);
  }
  .event-value {
    font-weight: 500;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #232729;
  }

  .breadcramps-container {
    display: flex;
  }

  .breadcramps-container a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A7A9AA;
    text-decoration: none;
    height: 24px;
  }

  .margin-right--11 {
    margin-right: 11px;
  }

  .charge-state {
    position: relative;
    width: 395px;
    height: 40px;
    background: $blue-5;
    border: 1px solid $blue-20;
    box-sizing: border-box;
    border-radius: $radius;
    display: flex;
    align-items: center;
    font-size: 14px;
    

    &.success {

      background-color: $success-0;
      border: 1px solid $success;
    }
    &.error {
      background-color: $error-0;
      border: 1px solid $error;
    }
  }


  .charge-state__text {
    font-size: 10px;
    color: $black-80;
    margin: 0 10px;
    z-index: 1;
  }

  .charge-state__info {
    z-index: 1;
  }


 

