<div class="flex-block flex-block--center">
  <mat-card class="width-50 max-width--600">
    <mat-card-header>
    <mat-card-title>
      You have not added your car yet
    </mat-card-title>
    </mat-card-header>
    <mat-card-content class="enrollment-container flex-block--column">
      <button mat-raised-button color="primary" >Add a car</button>
      <button mat-raised-button color="primary" [disabled]="true">Add a drone</button>
      <button mat-raised-button color="primary" [disabled]="true">Add a station</button>

    </mat-card-content>
  </mat-card>
</div>
