
.button-system {
    position: relative;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: $white;
    background: $blue;
    border-radius: 4px;
    padding: 12px 24px;
    text-transform: uppercase;

    &:hover {
        background: $blue-80;
    }

  }
  .button-system--login {
    width: 450px !important;
    height: 56px !important;
    align-items: center !important;
    
  }
  

  .button-system--login--google {
    background: $white;
    border: 1px solid $black-60;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 56px;
    margin-bottom: 50px;
    line-height: 56px;
    width: 450px !important;
    text-transform: capitalize;
    &:hover {
      background: $white;
      border: 1px solid $blue;
    }
  }
  .button-system--login--google img {
    margin-right: 8px;
  }
