<style>
  .red-text {
    color: #FF0000;
  }

  .wrap {
    padding: 5px;
  }


</style>
<ng-container *ngIf="settings && mapData">
    <ngx-apple-maps [options]="options" [settings]="settings" >
     <!-- <ng-template *ngFor="let item of annotations">
        <ngx-apple-maps-annotation [latitude]="item.latitude" [longitude]="item.longitude">
        </ngx-apple-maps-annotation>
      </ng-template>-->
      <ng-container *ngFor="let item of customAnnotation">
        <ngx-apple-maps-annotation [options]="item.options" [latitude]="item.latitude" [longitude]="item.longitude">
        </ngx-apple-maps-annotation>
  
       </ng-container>
    
    </ngx-apple-maps>
  
</ng-container>
