<style>
  .settings_icon {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .settings_content {
    position: absolute;
    z-index: 2;
    width: 209px;
    height: 90px;
    background: #FFFFFF;
    border: 1px solid rgba(157, 165, 174, 0.2);
    box-sizing: border-box;
    padding: 20px 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    right: 0;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .settings_item {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #232729;
  }
  .remove {
    color: #FF3A29;
  }
</style>

<div class="settings_icon" (click)="switchDropDownState()">
  <img src="../../../assets/imgs/horizontal.png" height="24"
       width="24"/>
</div>

<div class="settings_content" *ngIf="dropDownOpen">
  <div class="settings_item" (click)="openEditResource()">EDIT RESOURCE</div>
  <div class="settings_item remove" (click)="deleteResource()">REMOVE RESOURCE</div>
</div>
