.header-container {
    height: 84px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 2;
  }
  .img-container {
    position: absolute;
    left: 20px;
  }
  .img-container:after {
    position: absolute;
    right: -30px;
    content: "";
    width: 1px;
    height: 100%;
    background: #D3D4D4;
  }
  .header-menu {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232729;
  }
  .header-menu__item {
    margin-right: 40px;
  }
  .user-name {
    margin-right: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232729;
  }
  .profile-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
  }
  .header-menu__item:hover {
    cursor: pointer;
    text-decoration: underline;
  }