<div class="flex-block flex-block-login flex-block--column flex-block--center">
  <img src="../../../assets/imgs/logoLogin.png" height="180" width="180" />
  <h1>Welcome</h1>
  Service for organizing your electric car driving experience
  <form
    #form
    class="login-form flex-block flex-block--center flex-block--column"
    [formGroup]="myGroup"
    (ngSubmit)="onSubmit()"
  >
    <input
      matInput
      formControlName="login"
      class="input-login login-input"
      type="email"
      placeholder="Email"
    />

    <input
      matInput
      type="password"
      formControlName="password"
      class="input-login"
      placeholder="Password"
    />

    <button
      color="primary"
      class="button-system button-system--login margin-top-60"
      [disabled]="form.valid"
    >
      Login
    </button>
  </form>
  <p class="margin-top-25 margin-bottom-25">or</p>

  <button class="button-system button-system--login--google" color="primary">
    <a class="link-button" [href]="googleLogin"> </a>

    <img
      src="../../../assets/imgs/flat-color-icons_google.png"
      height="24"
      width="24"
    />
    Sign in with google
  </button>

  <span>Don’t have account?<a routerLink="/registration"> Register</a> </span>
</div>
