<div class="flex-block flex-block--column flex-block--center ">
    <h1>Wellcome</h1>
    Service for organizing your electric car driving experience
    <form #form class="example-form flex-block flex-block--center flex-block--column"
          [formGroup]=myGroup (ngSubmit)="onSubmit()">



    <input matInput formControlName="login" class="input-login"
           placeholder="login">

    <input matInput formControlName="password" class="input-login"
           placeholder="Password">

      <button color="primary"  class="button-system button-system--login margin-top-60" [disabled]="form.valid">

        Login</button>
    </form>
    <p class="margin-top-25 margin-bottom-25"> or </p>

    <button  class="button-system button-system--login" color="primary" >
      <a class="link-button" [href]="googleLogin"></a>
      Google</button>

    <a routerLink="/registration"> Don’t have account?
       Register</a>
</div>
