
<div class="close" (click)="closeEvent()">
  <img src="../../../../../assets/imgs/Close.png" height="40" width="40"/>
</div>
<div class="modal-header">
  <div class="title-font">CREATE REQUEST</div>
  <span class="modal-text" *ngIf="!successSync">To create request choose one of your preferred ways.</span>
  <span class="modal-text" *ngIf="successSync">Type the address of your destination, and we will find the best charging station for you. Just choose which you prefer better and let’s ride</span>
  <div class="legenda" *ngIf="successSync">
    <div class="legenda-item">
      <img src="../../../../../assets/imgs/my_car.png" height="34" width="30"/>
      My car
    </div>
    <div class="legenda-item">
      <img src="../../../../../assets/imgs/charging_station.png" height="40" width="32"/>
      Address of visiting
    </div>
    <div class="legenda-item">
      <img src="../../../../../assets/imgs/address_of_visiting.png" height="32" width="32"/>
      Charging station
    </div>
    <div class="legenda-item">
      <img src="../../../../../assets/imgs/error_station.png" height="40" width="32"/>
      Error charging station
    </div>
  </div>

</div>


<ng-container *ngIf="!successSync">
  <div class="modal-content flex-block flex-block--column padding-top-92">
    <div class="modal-text">
      Using this method we will sink with your google callendar and find charging station near locations, which you
      suppose to visit
    </div>
    <button class="button-system modal-button sync-calendar-button" (click)="syncWidthCalendar()"><img
      src="../../../../../assets/imgs/Sync.png" height="24" width="24"/>SINK WITH CALLENDAR
    </button>
    <div class="divider"></div>

    <div class="modal-text">
      You can add the location of your destination manual, and we will purpose a charging station. This text needs to be
      changed!
    </div>
    <button class="button-system modal-button geo-button" disabled><img src="../../../../../assets/imgs/Circle.png" height="24"
                                                          width="24"/>ADD MANUAL
    </button>
    <div class="divider"></div>

    <div class="modal-text">
      You can add the location of your destination manual, and we will purpose a charging station. This text needs to be
      changed!
    </div>
    <button class="button-system modal-button geo-button" (click)="basedOnGeo()"><img src="../../../../../assets/imgs/Navigation1.png"
                                                                        height="24" width="24"/>BASED ON GEO
    </button>

  </div>
</ng-container>

<ng-container *ngIf="successSync">

  <div class="event-list">
    <ng-container *ngFor="let driveItem of driveSchedule.intervals; let i = index">
      <div class="event-item">
        <div class="flex-block flex-block--column width-450">

          <div class="input-container width-450">
            <div class="input-label">Destination address</div>
            <input class="input-system" [placeholder]="driveItem?.calendar_location?.address">
          </div>
          <div class="select-container margin-top-25">
            <div class="input-label">Policy</div>
            <select class="input-system" disabled >
              <option *ngFor="let policy of  policiesService?.policies"> {{policy?.name}}</option>
            </select>
          </div>
          <div class="flex flex-block--space-between width-100 ">
            <div class="input-container margin-top-25">
              <div class="input-label">From</div>
              <input class="input-system" [placeholder]="driveItem?.time_start |  date:'shortTime'" disabled>
            </div>
            <div class="input-container margin-top-25">
              <div class="input-label" >To</div>
              <input class="input-system" [placeholder]="driveItem?.time_start |  date:'shortTime'" disabled>
            </div>
          </div>

          <div class="charg-station margin-top-22">
            <div class="charg-station-title">Charging Station: </div>
            <div class="charg-station-value">{{driveItem?.station_locations[i].address}}</div>
          </div>
        </div>
        <div class="flex-block flex-block--column width-450 map-container">

          <div class="width-450 height-239 map">

            <app-map-geo [mapData]="driveItem.station_locations" [locationData]=""></app-map-geo>

          </div>


          <div class="flex flex-block--space-between margin-top-25">
            <button mat-raised-button color="primary" class="button-system width-215"  >EDIT </button>
            <button mat-raised-button color="primary" class="button-system width-215" (click)="deleteInterval(i)" >DELETE</button>
          </div>
        </div>
        <div class="divider margin-top-40"></div>

      </div>

    </ng-container>

    <div class="bottom-container">
        <button mat-raised-button color="primary" class="button-system width-450 margin-right-30" (click)="addNewInterval()" >Add one more address</button>
        <button mat-raised-button color="primary" class="button-system width-450 blue-button" (click)="createRequest()"  >CREATE REQUEST</button>
    </div>
  </div>
</ng-container>

