
<div class="flex-block flex-block-login flex-block--column flex-block--center">
  <img src="../../../assets/imgs/logoLogin.png" height="180" width="180" />
  <h1>Registration</h1>
  Service for organizing your electric car driving experience
  <form
    #UserLogin="ngForm"
    class="login-form flex-block flex-block--center flex-block--column"
    [formGroup]="myGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="login-input input-block">
      <input
        matInput
        type="email"
        formControlName="login"
        class="input-login"
        [errorStateMatcher]="matcher"
        placeholder="Email"
      />
      <mat-error
        class="signup-error"
        *ngIf="
          myGroup.controls['login'].invalid && myGroup.controls['login'].touched
        "
      >
        Please enter a valid email address
      </mat-error>
    </div>

    <div class="password-input input-block">
      <input
        matInput
        type="password"
        formControlName="password"
        class="input-login"
        placeholder="Password"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        class="signup-error"
        *ngIf="myGroup.controls['password'].hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </div>

    <div class="input-block">
      <input
        matInput
        class="input-login"
        formControlName="confirmPass"
        [errorStateMatcher]="matcher"
        placeholder="Confirm Password"
        type="password"
      />
      <mat-error class="signup-error" *ngIf="checkPasswords()">
        Your password and confirmation password <strong>do not match is</strong>
      </mat-error>
    </div>

    <button
      color="primary"
      class="button-system button-system--login margin-top-60"
      [disabled]="!UserLogin.form.valid || checkPasswords()"
    >
      Register
    </button>
  </form>
  <p class="margin-top-25 margin-bottom-25">or</p>

  <button
    class="button-system button-system--login--google"
    color="primary"
    (click)="singupByGoogle()"
  >
    <img
      src="../../../assets/imgs/flat-color-icons_google.png"
      height="24"
      width="24"
    />
    Sign up with google
  </button>

  <span>Have account?<a routerLink="/login"> Login</a> </span>
</div>
