@import "../../scss/constants.scss";
h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: $black;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .flex-block-login {
    padding: 59px;
  }

  .login-form {
    height: unset;
  }

  .login-input {
    margin: 35px 0px 40px 0;
  }
  .password-input {
    margin-bottom: 40px;
  }

  .button-system--login--google {
    background: #ffffff;
    border: 1px solid #7b7d7f;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 56px;
    margin-bottom: 50px;
    line-height: 56px;
    width: 450px !important;
  }
  .button-system--login--google img {
    margin-right: 8px;
  }

  span {
    font-weight: 600;
  }

  .button-system--login {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }

  .signup-error {
    font-size: 12px;
    padding-left: 4px;
    padding-top: 4px;
    position: absolute;
  }
  .input-block {
    position: relative;
  }