
<app-header></app-header>

<div class="history-page">
  <div class="search-input-container">
    <input class="input-system search-input" placeholder="Type what you want to find">
    <button class="button-system search-button">
      Search
    </button>
  </div>

  <div class="history-container">
    <div class="history-item">
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Schedule
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          Tesla Model X
        </div>
        <div class="history-label">
          Device
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          60 kWh
        </div>
        <div class="history-label">
          Battery capacity
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          7 %
        </div>
        <div class="history-label">
          Initial SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          26 %
        </div>
        <div class="history-label">
          Final SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          1043 kWh
        </div>
        <div class="history-label">
          Energy added
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 435
        </div>
        <div class="history-label">
          Charging cost
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 123
        </div>
        <div class="history-label">
          Total saving
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          ToU
        </div>
        <div class="history-label">
          Policy
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          01/12/20, 11:30pm
        </div>
        <div class="history-label margin-right-60">
          Start session
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          2 h 10 min
        </div>
        <div class="history-label">
          Duration
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Location
        </div>

      </div>
    </div>
  </div>
  <div class="history-container">
    <div class="history-item">
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Schedule
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          Tesla Model X
        </div>
        <div class="history-label">
          Device
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          60 kWh
        </div>
        <div class="history-label">
          Battery capacity
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          7 %
        </div>
        <div class="history-label">
          Initial SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          26 %
        </div>
        <div class="history-label">
          Final SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          1043 kWh
        </div>
        <div class="history-label">
          Energy added
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 435
        </div>
        <div class="history-label">
          Charging cost
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 123
        </div>
        <div class="history-label">
          Total saving
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          ToU
        </div>
        <div class="history-label">
          Policy
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          01/12/20, 11:30pm
        </div>
        <div class="history-label margin-right-60">
          Start session
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          2 h 10 min
        </div>
        <div class="history-label">
          Duration
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Location
        </div>

      </div>
    </div>
  </div>
  <div class="history-container">
    <div class="history-item">
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Schedule
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          Tesla Model X
        </div>
        <div class="history-label">
          Device
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          60 kWh
        </div>
        <div class="history-label">
          Battery capacity
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          7 %
        </div>
        <div class="history-label">
          Initial SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          26 %
        </div>
        <div class="history-label">
          Final SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          1043 kWh
        </div>
        <div class="history-label">
          Energy added
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 435
        </div>
        <div class="history-label">
          Charging cost
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 123
        </div>
        <div class="history-label">
          Total saving
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          ToU
        </div>
        <div class="history-label">
          Policy
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          01/12/20, 11:30pm
        </div>
        <div class="history-label margin-right-60">
          Start session
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          2 h 10 min
        </div>
        <div class="history-label">
          Duration
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Location
        </div>

      </div>
    </div>
  </div>
  <div class="history-container">
    <div class="history-item">
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Schedule
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          Tesla Model X
        </div>
        <div class="history-label">
          Device
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          60 kWh
        </div>
        <div class="history-label">
          Battery capacity
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          7 %
        </div>
        <div class="history-label">
          Initial SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          26 %
        </div>
        <div class="history-label">
          Final SOC
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          1043 kWh
        </div>
        <div class="history-label">
          Energy added
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 435
        </div>
        <div class="history-label">
          Charging cost
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          $ 123
        </div>
        <div class="history-label">
          Total saving
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          ToU
        </div>
        <div class="history-label">
          Policy
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          01/12/20, 11:30pm
        </div>
        <div class="history-label margin-right-60">
          Start session
        </div>

      </div>
      <div class="item-container margin-right-60">
        <div class="history-info">
          2 h 10 min
        </div>
        <div class="history-label">
          Duration
        </div>

      </div>
      <div class="item-container">
        <div class="history-info">
          CHR
        </div>
        <div class="history-label">
          Location
        </div>

      </div>
    </div>
  </div>
</div>
