@import "../../scss/constants.scss";

.logout-container {
    position: absolute;
    top: 72px;
    right: 16px;
    width: 250px;
    height: initial;
    background: $white;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: $shadow;
    /* identical to box height */
    color: $black;
    border-radius: $radius;
    line-height: 64px;
    padding-top: 4px;
    padding-bottom: 4px;

  }

  .logout-button {
    padding: 24px;
    
    height: 64px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $black-0;
  }
  }
 