<style>
  .link-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  .link_icon {
    position: relative;
    width: 0px;
    height: 30px;
    margin: 0 auto;
  }

  .link_icon:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: #4339F2;
  }

  .link_icon:before {
    content: '';
    transform: rotateZ(90deg);
    position: absolute;
    width: 2px;
    height: 20px;
    background: #4339F2;
  }

  .link_text {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #4339F2;
  }

  .charge-indicator {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding-left: 10px;
    margin-left: 10px;
    z-index: 2;
  }

  .charge-indicator__on {
    background: #34B53A;
  }

  .charge-indicator__off {
    background: #FF3A29
  }

  .charge-indicator__plugIn {
    background: #ff8826
  }

  .search-input-container {
    margin-right: 20px;
  }

  .vendor {
    position: absolute;
    top: 10px
  }

  .resource-content {
    position: relative;
  }
  .vendor-settings {
    position: absolute;
    right: 24px;
    top: 10px

  }
</style>
<!--
<app-page-loader ></app-page-loader>
-->
<app-header></app-header>

<div class="search-container">
  <div class="title-font">Resources</div>
  <div class="search-input-container">
    <input class="input-system search-input" [(ngModel)]="searchText" placeholder="Type what you want to find">
    <button class="button-system search-button">
      Search
    </button>
  </div>
  <button class="button-system">
    <a class="link-button" [href]="smartCarLogin"></a>
    Add Resource
  </button>
</div>
<ng-container *ngIf="loaderState">
  <ng-container *ngIf="resourcesData.length else emptyResourceList; index as i">
    <div class="resource-container">
      <ng-container *ngFor="let resource of resourcesData | filter: searchText">
        <div class="resource-content resource-card flex-block  flex-block--space-between max-width--600"
        >
          <div class="title-font vendor">
            <span
              (click)="navigateByResource(resource.smResource.idResource, resource.smartCarInfo)">{{resource.smResource.vendor}}
              / {{resource.smResource.model}}</span>
          </div>
          <div class="vendor-settings">
            <app-drop-down [resourceData]="resource" (resourceDelete)="resourceDelete(i)"></app-drop-down>
          </div>
          <div class="resource-card__content">
            <img src="../../../assets/imgs/cars.png" height="108" width="192"/>
          </div>
          <div class="resource-card__content">


            <div class="sub_container">
              <div class="title-font sub_tittle">Plugged:</div>
              <!--     <ng-container *ngIf="resource.smartCarInfo else chargeOff">
                     <ng-container *ngIf="resource.smartCarInfo?.charge else chargeOff">-->
              <ng-container
                *ngIf="resource.smartCarInfo?.charge?.data.isPluggedIn && resource.smartCarInfo?.charge?.data.state==='CHARGING' else chargeOff">
                <div class="title-font sub_tittle sub_info">
                  Charging
                  <div class="charge-indicator charge-indicator__on"></div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="resource.smartCarInfo?.charge?.data.isPluggedIn && resource.smartCarInfo?.charge?.data.state !=='CHARGING' ">
                <div class="title-font sub_tittle sub_info">
                  Plugged In
                  <div class="charge-indicator charge-indicator__plugIn"></div>
                </div>
              </ng-container>
              <!--     </ng-container>

                 </ng-container>
     -->
              <ng-template #chargeOff>
                <div class="title-font sub_tittle sub_info">
                  Plugged Out
                  <div class="charge-indicator charge-indicator__off"></div>
                </div>
              </ng-template>
            </div>
            <div class="sub_container">
              <div class="title-font sub_tittle">Policy:</div>
              <ng-container *ngIf="policiesService?.policies">
                <div class="title-font sub_tittle sub_info"> {{policiesService?.policies[resource.smResource.policyId]?.name}}</div>

              </ng-container>
            </div>
            <div class="sub_container">
              <div class="title-font sub_tittle">Battery:</div>
              <div class="title-font sub_tittle sub_info"> {{resource.smResource?.capacity / 1000}} kWh</div>

            </div>
            <div class="sub_container">
              <div class="title-font sub_tittle">SOC:</div>
              <div class="title-font sub_tittle sub_info"> {{resource.smartCarInfo?.battery?.percentRemaining * 100}} %</div>

            </div>
          </div>

        </div>
      </ng-container>

      <div class="add__resource">
        <div class="link-container">
          <a class="link-button" [href]="smartCarLogin"></a>
          <div class="link_icon"></div>
          <div class="link_text">Add resource</div>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>
<ng-template #emptyResourceList>
  <div class="resource-container">
    <div class="add__resource">
      <div class="link-container">
        <div class="link-container">
          <a class="link-button" [href]="smartCarLogin"></a>
          <div class="link_icon"></div>
          <div class="link_text">Add resource</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!loaderState">
  <div class="empty-state--container">
    <app-loader></app-loader>
  </div>
</ng-container>

