<style>
  .link-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  .link_icon {
    position: relative;
    width: 0px;
    height: 30px;
    margin: 0 auto;

  }

  .link_icon:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: #4339F2;
  }

  .link_icon:before {
    content: '';
    transform: rotateZ(90deg);
    position: absolute;
    width: 2px;
    height: 20px;
    background: #4339F2;
  }

  .link_text {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #4339F2;

  }
</style>
<!--
<app-page-loader ></app-page-loader>
-->
<app-header></app-header>

<div class="search-container">
  <div class="title-font">Resources</div>
  <div class="search-input-container">
    <input class="input-system search-input"  [(ngModel)]="searchText" placeholder="Search">
    <button class="button-system search-button">
      Search
    </button>
  </div>
  <button class="button-system">
    <a class="link-button" href="http://localhost:8080/smartCarLogin"></a>
    Add Resource
  </button>
</div>
<ng-container *ngIf="resourcesData.length else emptyResourceList">
  <div class="resource-container">
    <ng-container *ngFor="let resource of resourcesData | filter: searchText">
      <div class="resource-content resource-card flex-block  flex-block--space-between max-width--600"
           >
        <div class="resource-card__content">
          <img src="../../../assets/imgs/cars.png" height="108" width="192"/>
        </div>
        <div class="resource-card__content">
          <div class="title-font ">
            <span  (click)="navigateByResource(resource.smResource.idResource)">{{resource.smResource.vendor}} / {{resource.smResource.model}}</span>
            <app-drop-down [resourceData]="resource"></app-drop-down>
          </div>
          <div class="sub_container">
            <div class="title-font sub_tittle">Plugged:</div>
            <div class="title-font sub_tittle sub_info"></div>
          </div>
          <div class="sub_container">
            <div class="title-font sub_tittle">Policy:</div>
            <div class="title-font sub_tittle sub_info"> {{resource.smResource.policyId}}</div>
          </div>
          <div class="sub_container">
            <div class="title-font sub_tittle">Battery:</div>
            <div class="title-font sub_tittle sub_info"> {{resource.smResource?.capacity / 1000}} kWh</div>

          </div>
          <div class="sub_container">
            <div class="title-font sub_tittle">SOC:</div>
            <div class="title-font sub_tittle sub_info"> {{resource.smResource?.capacity / 1000}} kWh</div>

          </div>
        </div>

      </div>
    </ng-container>

    <div class="add__resource">
      <div class="link-container">
        <a class="link-button" href="http://localhost:8080/smartCarLogin"></a>
        <div class="link_icon"></div>
        <div class="link_text">Add resource</div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #emptyResourceList>
  <div class="resource-container">

    <div class="add__resource">
      <div class="link-container" (click)="testEdit()">
<!--
        <a class="link-button" href="http://localhost:8080/smartCarLogin"></a>
-->
        <div class="link_icon"></div>
        <div class="link_text">Add resource</div>
      </div>
    </div>
  </div>
</ng-template>

