
<!--
<app-page-loader ></app-page-loader>
-->
<app-header></app-header>

<div class="search-container">
  <div class="title-font">Resources</div>
  <div class="search-input-container">
    <input class="input-system search-input" [(ngModel)]="searchText" placeholder="Type what you want to find">
    <button class="button-system search-button">
      Search
    </button>
  </div>
  <button class="button-system">
    <a class="link-button" [href]="smartCarLogin"></a>
    Add Resource
  </button>
</div>
<ng-container *ngIf="loaderState">
  <ng-container *ngIf="resourcesData.length else emptyResourceList; index as i">
    <div class="resource-container">
      <ng-container *ngFor="let resource of resourcesData | filter: searchText">
        <car [resource]="resource" (resourceDelete)="resourceDelete(i)" [index]="i" ></car> 
     
      </ng-container>

      <div class="add__resource">
        <div class="link-container">
          <a class="link-button" [href]="smartCarLogin"></a>
          <div class="link_icon"></div>
          <div class="link_text">Add resource</div>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>
<ng-template #emptyResourceList>
  <div class="resource-container">
    <div class="add__resource">
      <div class="link-container">
        <div class="link-container">
          <a class="link-button" [href]="smartCarLogin"></a>
          <div class="link_icon"></div>
          <div class="link_text">Add resource</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!loaderState">
  <div class="empty-state--container">
    <app-loader></app-loader>
  </div>
</ng-container>

