/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height, or 107% */
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #FFFFFF;
  background: #4339F2;
  border-radius: 4px;
}
.flex-block {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flex-block--center {
  align-items: center;
}
.flex-block--space-between {
  justify-content: space-between;
}

.flex-block--column {
  flex-direction: column;
}

.justify-content--space-evenly {
  justify-content: space-evenly;
}

.height-200 {
  height: 200px;
}

.margin-top-25 {
  margin-top: 25px;
}

.width-50 {
  width: 50%;
}

.width-80 {
  max-width: unset !important;
  width: 80% !important;
}

.width-100 {
  width: 100%;
}

.max-width--600 {
  max-width: 600px;
}

.title-font {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  /* Black / 100 */

  color: #232729;
}
.sub_container {
  display: flex;
  justify-content: space-between;
}
.sub_tittle {
  width: 70px;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Black / 60 */

  color: #7B7D7F;
}
.sub_info {
  width: 70px;
  color: #232729;
}

.enrollment-container {
  display: flex !important;
  justify-content: space-evenly;
  height: 200px;
}

.vertical-container {
  width: 100%;
  height: 400px;
  align-items: start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.mat-raised-button {
  margin-top: 20px !important;
}

.link-button {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.resource-container__double {
  display: flex;
}

.resource-container {
  padding: 50px 10px 110px 10px;
  justify-content: start;
  display: flex;
  flex-flow: row wrap;
  min-height: 60vh;
}

.resource-container--column {
display: flex;
flex-direction: column;
}

.resource-content {
margin-right: 20px;
margin-bottom: 20px;
width: 350px;
min-height: 250px;
cursor: pointer;
}

.footer-container {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 80%;
position: fixed;
bottom: 0;
background: #ffffff;
padding-bottom: 40px;
}

.header-style {
position: absolute;
top: 10px;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
/* identical to box height */
  color: #000000;
}

.resource-card {
  width: 451px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid rgba(157, 165, 174, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F8 100%);
  /* Black / 5 */
}
.resource-card__content {
  flex: 1;
  padding: 24px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}


.search-input-container {
  position: relative;
  width: 670px;
  height: 40px;
  background: #F4F4F4;
  border-radius: 4px;
  margin-right: 198px;
}

.search-button {
  position: absolute;
  width: 84px;
  height: 28px;
  right: 6px;
  top: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #4339F2;
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
}

.search-input {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: calc(100% - 15px);
  border: none;
  padding-left: 15px;
  background: #F4F4F4;
  outline: none;
}

.mat-raised-button {
  background: #4339F2;
  color: #FFFFFF;
}

.big-button {
  width: 248px !important;
  height: 55px !important;
  border-radius: 6px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 24px !important;
  line-height: 31px !important;
}
.add__resource {
  width: 451px;
  height: 250px;
  border: 2px dashed #4339F2;
  border-radius: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
